.request-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.right-text {
  text-align: right;
}

.separated {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.cost-section {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.request-list mat-card {
  margin: 10px;
  height: 100%;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
  margin-bottom: 0px;
}

.mat-form-field {
  display: block ruby;
  position: relative;
  text-align: right;
  right: 0;
}

.example-section {
  text-align: center;
  justify-self: center;
  margin-top: 10%;
}

.mat-card > .mat-card-actions {
  text-align: center;
  display: flex;
  justify-content: end;
  bottom: 20px;
  position: absolute;
  right: 20px;
}

#decline {
  background-color: #c2185b;
}

#send {
  background-color: #00a1fc;
}
