.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #2457c2;
  text-align: center;
  position: fixed;
  bottom: 0;

  .footer {
    padding: 10px;

    ul {
      position: relative;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-around;
      li {
          list-style-type: none;
          height: 48px;
          line-height: 48px;
          border: none;

          a {
              color: white;
          }
      }
    }
  }
}
