.example-container {
    width: 200px;
    height: -webkit-fill-available;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 64px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .list{
      &__a {
          text-decoration: none;
      }
  }